@import url('https://fonts.googleapis.com/css2?family=Harmattan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Harmattan&display=swap');


body {
    background-color: orangered;
}

.heading {
    margin-top: 10%;
    font-size: 30px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    text-shadow: 3px 3px 6px rgb(65, 63, 63);
}

.input {
    margin-top: 4%;
    display: flex;
    justify-content: center;
}

.text-box {
    height: 40px;
    width: 50vh;
    padding-left: 1%;
    background-color: teal;
    border-radius: 15px;
    border: none;
    box-shadow: 3px 3px 6px rgb(65, 63, 63);
    outline: none;
    color: white;
    font-size: 19px;
}

::placeholder {
    color: black;
    font-family: 'Harmattan', sans-serif;
    font-size: 19px;
}

.submit {
    width: 70px;
    height: 44px;
    margin-left: 1%;
    background: teal;
    color: black;
    box-shadow: 3px 3px 5px rgb(65, 63, 63);
    border-radius: 10cm;
    font-size: 25px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.submit:hover {
    background: teal;
}

.data {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    padding-right: 12px;
}   

.in-data {
    height: 40px;
    width: 60vh;
    padding-left: 25px;
    background-color: teal;
    border-radius: 15px;
    border: none;
    box-shadow: 3px 3px 6px rgb(65, 63, 63);
    outline: none;
    color: white;
    font-family: 'Harmattan', sans-serif;
    font-size: 20px;

}

.in-data:focus {
    background-color: rgba(18, 38, 54, 0.5);
}

#newText {
    text-decoration: line-through;
    text-decoration-color: rgb(233, 233, 14);
}

.swal-overlay {
    background-color: #6d4db1;
  }

.checkBox {
    transform: scale(1);
    margin: 14px;
    opacity: 0.5;
    margin-right: -20px;
}

.edit-btn {
    background: transparent;
    border: none;
    margin-left: -65px;
    color: #DFD3C3;
    font-size: 20px;
    cursor: pointer;
}

.delete-btn {
    background: transparent;
    border: none;
    color: red;
    font-size: 22px;
    cursor: pointer;
}

.far fa-pen,
.far fa-trash {
    pointer-events: none;
}