body
{
    background-color: black;
}
.heading {
    margin-top: 10%;
    font-size: 30px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    text-shadow: 3px 3px 6px rgb(65, 63, 63);
}

.input {
    margin-top: 4%;
    display: flex;
    justify-content: center;
}

.text-box {
    height: 38px;
    width: 40vh;
    padding-left: 1%;
    background-color: teal;
    border: none;
    box-shadow: 3px 3px 6px rgb(65, 63, 63);
    outline: none;
    color: white;
    font-size: 19px;
}
.site-search
{
    height: 38px;
    width: 40vh;
    padding-left: 1%;
    background-color: teal;
    border: none;
    box-shadow: 3px 3px 6px rgb(65, 63, 63);
    outline: none;
    color: white;
    font-size: 19px;
    margin-top: 1%;
    margin-left: 500px;
}
::placeholder {
    color: black;
}

.submit
{
    width: 70px;
    height: 44px;
    margin-left: 1%;
    background: teal;
}

.submit1 {
    width: 70px;
    height: 44px;
    margin-left: 550px;
    background: teal;
    color: black;
    cursor: pointer;
    display: none;
    transition: 0.2s;
    margin-top: 10px;
}
.submit1:hover {
    background: teal;
}


.data1
{
    margin: 0px auto;
    overflow-y: auto;
    height: 300px;
    width: 60vh;
    margin-top: 10px;
}

.data {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    padding-right: 12px;
}   
.in-data {
    height:30px;
    width: 60vh;
    padding-left: 25px;
    background-color: white;
    box-shadow: 3px 3px 6px rgb(65, 63, 63);
    outline: none;
    color: black;;
    font-family: 'Harmattan', sans-serif;
    font-size: 20px;

}

.in-data:focus {
    background-color: white;
 }

#newText {
    text-decoration: line-through;
    text-decoration-color: lawngreen;
}

/*.swal-overlay {
    background-color: #6d4db1;
  }
*/
.checkBox {
    margin: 14px;
    opacity: 0.5;
    margin-right: -20px;
}

.edit-btn {
    background: transparent;
    border: none;
    margin-left: -65px;
    color: black;
    font-size: 20px;
    cursor: pointer;
}

.delete-btn {
    background: transparent;
    border: none;
    color: black;
    font-size: 22px;
    cursor: pointer;
}


.far fa-pen,
.far fa-trash {
    pointer-events: none;
}
